#custom-media {

  /* background-color: @bg-color; */
  color: @text-color;
  /* border: 2px solid @bar-border; */
  border-radius: 32px;
  background-color: @button-bg-color;


  /* margin: 0px 0px; */
  margin-top: 3px;
  margin-bottom: 5px;
  /* margin-left: 5px; */


  /* background-color: rgba(102, 204, 153, 0.66); */
  /* color: #2a5c45; */
  /* min-width: 100px; */
  font-size: 24px;

  /* padding: 0px 9px 0px 12px; */
  /* 
  padding: 0px 8px 2px 0px;
  min-width: 28px; */
}


#custom-media:hover {
  background: @button-fg-color;

}