#taskbar {
  background-color: @bg-color;
  color: @text-color;
  border-radius: 16px;
  padding: 0 6px;
  /* margin: 0 12px; */
  border: 2px solid @bar-border;
}

#pulseaudio,
#custom-power,
#battery {
  padding: 0 10px;
  color: @text-color;
  border-radius: 16px;
}

#pulseaudio {
  /* background-color: rgba(241, 196, 15, 0.66); */
  /* color: #000000; */
  /* color: rgba(241, 196, 15, 1.0); */
  /* color: rgb(14, 165, 241); */
  color: @text-color;
}

#pulseaudio.muted {
  /* background-color: rgba(144, 177, 177, 0.66); */
  /* color: #2a5c45; */
  color: rgb(144, 177, 177);

}

#battery {
  /* background-color: rgba(255, 255, 255, 0.66);
  color: #000000; */
  color: @text-color;
}

#battery.charging,
#battery.plugged {
  /* color: @text-color;
  background-color: rgba(38, 166, 91, 0.66); */
  color: rgb(38, 166, 91);
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  /* background-color: rgba(245, 60, 60, 0.66); */
  color: rgb(245, 60, 60);
  /* color: @text-color; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #clock {
  background-color: rgba(100, 114, 125, 0.66);
} */

#custom-power {
  /* padding: 0px 4px 2px 0px; */
  padding: 0px 2px;
  background-color: rgba(100, 114, 125, 0.0);
  /* min-width: 28px; */
}