#tray {
  background-color: @bg-color;
  color: @text-color;
  border-radius: 16px;
  padding: 0 12px;
  border: 2px solid @bar-border;
  font-size: 20px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(235, 77, 75, 0.66);
}