#tray {
  background-color: @bg-color;
  color: @text-color;
  padding: 0 12px;
  font-size: 18px;

  /* border-radius: 16px; */
  /* border-right: 2px solid @bar-border; */
  border-bottom: 2px solid @bar-border;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(235, 77, 75, 0.66);
}