#window {
  background-color: @bg-color;
  color: @text-color;
  padding: 0 12px;
  font-size: 20px;

  /* border-radius: 16px;
  border: 2px solid @bar-border; */
  border-bottom: 2px solid @bar-border;
}


window#waybar.empty #window {
  background-color: transparent;
  border: none;
}